[submodule "Assets/Arcadia"]
	path = Assets/Arcadia
	url = https://github.com/arcadia-unity/Arcadia.git
[submodule "Assets/magic"]
	path = Assets/magic
	url = https://github.com/nasser/magic.git
[submodule "Assets/tools.analyzer"]
	path = Assets/tools.analyzer
	url = https://github.com/clojure/tools.analyzer
[submodule "Assets/mage"]
	path = Assets/mage
	url = https://github.com/nasser/mage.git
[submodule "Assets/scene-var"]
	path = Assets/scene-var
	url = https://github.com/timsgardner/scene-var.git
